#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#title{
  position: relative;
  padding-left: 10px;
  top: 0;
  left: 20px;
  height: 60px;
  margin-top: 20px;
  width: 260px;
  overflow: hidden;
}

#title h2 {
  font-size: 20px;
}

#menu {
  position: absolute;
  background: #efefef;
  padding: 5px;
  left: 28px;
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
}

.legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  background-color: #ffffff;
  border-radius: 3px;
  bottom: 30px;
  position: absolute;
  right: 10px;
  z-index: 1;
  font-family: "Arial", sans-serif;
  font-size: 10px;
}

.legend h4 {
  margin: 0 0 10px;
}

/* sets the default settings for creating the circles (these are actually squares with their corners rounded) */
.legend-circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

/* sets the specifics for the status text */
.legend-status span {
  margin-left: 5px;
  display: inline-block;
  font: 8px Arial, sans-serif;
}

/* sets the specifics for the building height text */
.legend-height span {
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
  font: 8px Arial, sans-serif;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Arial', sans-serif;
}
